.container {
    border: 1px solid black;
}

.attributes {
    border-bottom: 1px solid black;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4px;
    margin-bottom: 4px;
}

.add-reptile {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    width: 20%;
}

.reptile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4px;
    margin-bottom: 4px;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}

span {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
  }