.container {
    border: 1px solid black;
}

.attributes {
    border-bottom: 1px solid black;
}

.feeding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4px;
    margin-bottom: 4px;
}

.husbandry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4px;
    margin-bottom: 4px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 4px;
    margin-bottom: 4px;
}

.add-button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    width: 20%;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}

span {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
  }