.day {
    padding: 0.4em 0.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    float: left;
}

.check {
    margin-right: 1em;
    float: right;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.6em;
}